Repository 0compute/py-skeleton: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, vulture, whitelist, yamlfix, yamllint

.pre-commit-config.yaml:

default_language_version:
  python: python3.10

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types_or: [pyi, python]
      - id: dmypy
        name: dmypy
        entry: dmypy
        language: python
        types_or: [pyi, python]
        require_serial: true
        args:
          - run
      - id: ruff
        name: ruff
        entry: ruff
        language: python
        types: [python]
        args:
          - --fix
          - --exit-non-zero-on-fix
          # catch commented-out code - here because we don't want in for normal dev
          - --extend-select=ERA001
          - --unfixable=ERA001
      - id: vulture
        name: vulture
        entry: vulture
        language: python
        types: [python]
        pass_filenames: false
        args:
          - .
      - id: whitelist
        name: whitelist
        entry: make
        language: python
        types: [python]
        pass_filenames: false
        args:
          - whitelist
      - id: yamlfix
        name: yamlfix
        entry: yamlfix
        language: python
        types: [yaml]
      - id: yamllint
        name: yamllint
        entry: yamllint
        language: python
        types: [yaml]
  - repo: meta
    hooks:
      - id: check-hooks-apply

actions - update dependencies
  action.yml
Due: yamlfix, yamllint

add dependabot
  .github/dependabot.yml
  Makefile
Due: yamlfix, yamllint

add yamllint config
  .yamllint.yml
  Makefile
Due: yamlfix, yamllint

drop dependabot - cannot be symlink
  .github/dependabot.yml
  Makefile
Due: yamlfix, yamllint

silence make warning
  Makefile
Due: none

add taplo cfg
  .taplo.toml
  Makefile
Due: none

HISTFILE must be exported in .envrc
  .envrc
Due: none

tidy makefile
  Makefile
Due: none

drop zsh histfile
  .envrc
Due: none

watch dev.nix
  .envrc
Due: none

makefile drop ruff and mypy targets
  Makefile
Due: none

makefile test-cov no cov on fail
  Makefile
Due: none

build package and devshell
  Makefile
Due: none

watch all nix files in project root
  .envrc
Due: none

use cachix install
  action.yml
Due: yamlfix, yamllint

tidy
  .envrc
  Makefile
Due: none

cachix install needs nix_path
  action.yml
Due: yamlfix, yamllint

.env no longer needed
  .env
  .envrc
Due: none

drop direnv
  action.yml
Due: yamlfix, yamllint

gh action build devshell
  action.yml
Due: yamlfix, yamllint

use nixbuild nix install over cachix + add cache-nix-action
  action.yml
Due: yamlfix, yamllint

gh action parameter for devshell
  action.yml
Due: yamlfix, yamllint

gh action fix bad subst
  action.yml
Due: yamlfix, yamllint

system from inputs
  action.yml
Due: yamlfix, yamllint

nix build print logs
  action.yml
Due: yamlfix, yamllint

add a flake
  flake.lock
  flake.nix
Due: none

move in pre-commit
  flake.nix
  pre-commit.nix
Due: none

latest
  .envrc
  .gitignore
  .taplo.toml
  Makefile
  base-overlay.nix
  covcfg.py
  flake.lock
  flake.nix
  pre-commit.nix
  pyproject.toml
  shell-hook.sh
Due: ruff, vulture, whitelist

ignore result links
  shell-hook.sh
Due: none

correct gitignore
  shell-hook.sh
Due: none

support overridePythonAttrs
  flake.nix
Due: none

nicer way to override
  flake.lock
  flake.nix
  shell-hook.sh
Due: none

pull out not necessary
  Makefile
  flake.nix
  shell-hook.sh
Due: none

action cache keyed on system
  action.yml
Due: yamlfix, yamllint

flake update
  flake.lock
Due: none

drop vulture
  pre-commit.nix
Due: none

simplify flake
  flake.nix
Due: none

passthru overlays
  flake.nix
Due: none

support .env overrides for direnv use flake
  .envrc
Due: none

add tool config
  pyproject.toml
Due: none
