Repository 0compute/py-skeleton: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, vulture, whitelist, yamlfix, yamllint

ruff:
  name: ruff
  entry: ruff
  language: python
  args:
  - --fix
  - --exit-non-zero-on-fix
  - --extend-select=ERA001
  - --unfixable=ERA001

vulture:
  name: vulture
  entry: vulture
  language: python
  pass_filenames: false
  args:
  - .

whitelist:
  name: whitelist
  entry: make
  language: python
  pass_filenames: false
  args:
  - whitelist

yamlfix:
  name: yamlfix
  entry: yamlfix
  language: python

yamllint:
  name: yamllint
  entry: yamllint
  language: python

covcfg remove zerolib dependency
  covcfg.py
Due: ruff, vulture, whitelist

ignore .env
  .gitignore
Due: none

make pre-commit optional
  flake.nix
  shell-hook.sh
Due: none

tmp
  shell-hook.sh
Due: none

make pre-commit optional
  shell-hook.sh
Due: none

don't skip aarch64-linux
  flake.nix
Due: none

drop pre-commit
  .envrc
  .gitignore
  .taplo.toml
  .yamllint.yml
  flake.lock
  flake.nix
  pre-commit.nix
  shell-hook.sh
Due: yamlfix, yamllint

Path conditions:
  ruff: any of: \.py$
  vulture: any of: \.py$
  whitelist: any of: \.py$
  yamlfix: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
