Repository 0compute/py-skeleton: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, vulture, whitelist, yamlfix, yamllint

ruff:
  name: ruff
  entry: ruff
  language: python
  args:
  - --fix
  - --exit-non-zero-on-fix
  - --extend-select=ERA001
  - --unfixable=ERA001

vulture:
  name: vulture
  entry: vulture
  language: python
  pass_filenames: false
  args:
  - .

whitelist:
  name: whitelist
  entry: make
  language: python
  pass_filenames: false
  args:
  - whitelist

yamlfix:
  name: yamlfix
  entry: yamlfix
  language: python

yamllint:
  name: yamllint
  entry: yamllint
  language: python

put sitecustomize for tests in tests
  .env
  .envrc
  Makefile
Due: none

new target: coverage-combined
  Makefile
Due: none

force mypy fresh run
  Makefile
Due: none

github composite action
  Makefile
  action.yml
Due: yamlfix, yamllint

rename "pre-commit" target to "lint"
  .pre-commit-config.yaml
  Makefile
Due: yamlfix, yamllint

don't use less
  Makefile
Due: none

extended test setup
  Makefile
  covcfg.py
Due: ruff, vulture, whitelist

rename to pyproject
  .envrc
  Makefile
  README.md
  action.yml
Due: yamlfix, yamllint

force symlink for skel files
  Makefile
Due: none

makefile build and push
  Makefile
Due: none

use direnv-nix-action
  action.yml
Due: yamlfix, yamllint

simplify makefile
  Makefile
  covcfg.py
Due: ruff, vulture, whitelist

don't need .test abstraction
  Makefile
Due: none

simplify test
  .envrc
  Makefile
  covcfg.py
Due: ruff, vulture, whitelist

get name from pyproject.toml
  Makefile
Due: none

wrap Makefile in "ifdef IN_NIX_SHELL"
  Makefile
Due: none

add Makefile to SKEL_FILES
  Makefile
  README.md
Due: none

use builtin tomllib with tomli fallback
  covcfg.py
Due: ruff, vulture, whitelist

extend and simplify
  .env
  .envrc
  Makefile
  covcfg.py
Due: ruff, vulture, whitelist

default py311
  .pre-commit-config.yaml
Due: yamlfix, yamllint

fix envrc watches
  .envrc
Due: none

subtest uses TEST_PATH
  Makefile
Due: none

covcfg: use own Dic impl
  covcfg.py
Due: ruff, vulture, whitelist

test-cov does not need PYTHONPATH set
  Makefile
Due: none

use Dic from zerolib
  covcfg.py
Due: ruff, vulture, whitelist

create sitecustomize.py in .site dir, set using NIX_PYTHONPATH
  Makefile
Due: none

ruff check and format
  Makefile
Due: none

correct push target
  Makefile
Due: none

site on NIX_PYTHONPATH without trailing slash
  Makefile
Due: none

catch untracked pre-build
  Makefile
Due: none

fu: nix flake update
  Makefile
Due: none

keep bytecode cache separate from source
  .env
Due: none

remove nix-direnv specifics
  .envrc
Due: none

don't need pre-commit config here
  .pre-commit-config.yaml
  Makefile
Due: yamlfix, yamllint

PYTHONPYCACHEPREFIX should be absolute path
  .env
  .envrc
Due: none

local zsh history
  .envrc
Due: none

makefile rename ARGS -> ARGV
  Makefile
Due: none

doc
  Makefile
Due: none

flake update make target takes ARGV
  Makefile
Due: none

doc
  README.md
Due: none

Path conditions:
  ruff: any of: \.py$
  vulture: any of: \.py$
  whitelist: any of: \.py$
  yamlfix: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
